/*body {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: lightblue;
}*/
body {
  /*background-image: url("NamekBackground.bmp");
  background-position: top;
  position: absolute;
  align-items: center;*/
  height: 100%;
  width: 100%;
  background: url('NamekBackground.bmp');
  /*background-repeat: no-repeat;*/
  animation: play 13.8s steps(250) infinite;
  overflow: hidden;
}
@keyframes play {
  100% { background-position: -2560px 0px; }
}

#birdy {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 100px;
  height: 120px;
  overflow: hidden;
}

#sprite {
  position: absolute;
}

.pipe {
  position: absolute;
  width: 100px;
  height: 100%;
}

.pipe:nth-child(1) {
  left: 15%;
}

.pipe:nth-child(2) {
  left: 40%;
}

.pipe:nth-child(3) {
  left: 65%;
}

.pipe:nth-child(4) {
  left: 90%;
}

.pipe .up, .pipe .down {
  position: absolute;
  background-color: green;
  width: 100%;
}

.pipe .up {
  top: 0;
}

.pipe .down {
  bottom: 0;
}
